html {
    width: 100%;
    overflow: hidden;
    background: url("https://lh3.googleusercontent.com/4nJyTdgrF38WuxUoFv9dUL7b0fz677JUDQ-tiLM5KKPPc35JK90Wp51zmucVlo578DERoKIFJQK0KDAymEcmrJXoxZXbWL9lDBULauSDN2hbe58vX1TbaZyzfU1z1zfYDUrY1hXxPg=w2400");
    background-size: 100%;
}

body {
    font-family: sans-serif;
    animation: flow 10s ease-in-out infinite alternate;
    background-repeat: no-repeat;
}

#header {
    animation: flow 10s ease-in-out infinite alternate;
    background: linear-gradient(60deg,pink,lightgreen,skyblue,violet,magenta);
    background-size: 300%;
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sbox {
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    width: 60%;
    margin : 0 auto;
    text-align: center;
    border-radius: 15px;
    border-style: hidden;
    padding: 0.25rem;
}

#sbox:focus {
    outline: none;
    border-radius: 15px 15px 0px 0px;
}

#btn {
    display: flex;
    margin : 0 auto;
    border-radius: 15px;
    border-style: hidden;
    padding: 0.8% 2%;
    font-weight: bold;
}

#btn:focus {
    outline: none;
}

#w1 {
    color: white;
    text-align: center;
    animation: magic 1s infinite ease-in-out;
}

#w2 {
    color: white;
    text-align: center;
    animation: magic 1.2s infinite ease-in-out;
}

#w3 {
    color: white;
    text-align: center;
    animation: magic 1.4s infinite ease-in-out;
}

#w4 {
    color: white;
    text-align: center;
    animation: magic 1.6s infinite ease-in-out;
}

#w5 {
    color: white;
    text-align: center;
    animation: magic 1.8s infinite ease-in-out;
}

#m_words {
    text-align: center;
    margin-top: 20%;
    font-weight:900;
    font-size: 16px;
}

@keyframes magic {
    0% {text-transform: uppercase;}
    50% {text-transform: lowercase;}
    100% {text-transform: uppercase;}
}

@media screen and (min-width: 1080px) and (max-width: 1920px) {
    #sbox {
        height: 1.5rem;
    }
}

@media screen and (min-width:500px) and (max-width: 896px) {

}

@media screen and (max-width: 480px) {
    html {
        background-image: url("wallpaper_phone.jpg");
        background-size: 100%;
    }
    #sbox {
        display: flex;
        width: 80%;
    }
}